@{
    ViewBag.Title = "TasksPage";
}
<div data-config="@ViewBag.JsonConfig" data-userId="@ViewBag.UserId" id="dataDiv" />

<table>
    <tr>
        <td>
            <div id="tasks">
                <button id="newTask" class="taskButton activeTask" data-taskid="-1">New Task</button>
                @foreach (var task in ViewBag.Config.Tasks)
                {
                    <div>
                    <button class="taskButton" data-taskid="@task.Id">@task.Name</button>
                    </div>
                }
            </div>
        </td>
        <td>
            <div id="taskDetails">
                <label for="taskName">Name</label> <input id="taskName" name="taskName" type="text" value="New Task" />
                <label for="taskDescription">Description</label> <input id="taskDescription" name="taskDescription" type="text" value="Description" />
                <label for="taskStartDate">Sart date</label> <input id="taskStartDate" name="taskStartDate" type="datetime-local" />
                <label for="taskFrequency">Frequency</label> <input id="taskFrequency" name="taskFrequency" type="number" value="1" />

                <label><strong>Groups</strong> <input id="assignToGroup" name="assignToGroup" type="button" value="Assign to group" /></label>
                <div id="taskGroups">
                </div>
                <input id="apply_task" type="button" value="Apply" />
                <input id="reset_task" type="button" value="Reset changes" />
                <input id="delete_task" type="button" value="Detele task" />
            </div>
        </td>
    </tr>
</table>
@section scripts{
    @Scripts.Render("~/Scripts/Pages/tasksPage.js")
    @Styles.Render("~/Content/Pages/TasksPage.css")
}
