@{
    ViewBag.Title = "TasksPage";
}
<div data-config="@ViewBag.JsonConfig" data-userId="@ViewBag.UserId" id="dataDiv"/>

@foreach (var task in ViewBag.Config.Tasks)
{
    <div>
        <label>@task.Name</label>
    </div>

}

@foreach (var task in ViewBag.Config.Tasks)
{
    <div id="active_task_details">
        <label for="name">Name</label>  <input id="name" name="name" type="text" value="@task.Name" />
        <label for="description">Description</label>  <input id="description" name="description" type="text" value="@task.Description" />
        <label for="start_date">Sart date</label>  <input id="start_date" name="start_date" type="datetime-local" value="@task.StartDate.ToString("s")" />
        <label for="frequency">Frequency</label>  <input id="frequency" name="frequency" type="number" value="@task.Frequency" />

        <label><strong>Groups</strong> <input id="assign_to_group" name="assign_to_group" type="button" value="Assign to group" /></label>
        <div id="task_groups">
        </div>
    </div>

}
<input id="apply_task" type="button" value="Apply" />
<input id="reset_task" type="button" value="Reset changes" />
<input id="delete_task" type="button" value="Detele task" />

@section scripts{
    @Scripts.Render("~/Scripts/Pages/tasksPage.js")
}
